*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #494747;
}
.headingnew{
    font-size: 22px;
    text-decoration:none;
margin-top: 2px;
color: white;
font-weight: bold;

}

.logo {
    width: 36px; /* Adjust the size of the image */
    height: auto;
    margin-right: 10px;
    margin-top: -1px;   
}
nav ul li {
    margin-right: 2px;
   
}
.heading{
   font-size: 18px;
margin-left: 10px;
font-size: 15px;
margin-left: -452px;
color: white;
}
.nav-links{
    font-size: 20px;
    margin-left: 10px;
    display: flex;
    margin-right: 10px;
    list-style: none;
    gap: 31px;
    font-weight: bold;
   
}
.content {
    display: flex;
    width: 100%;
    height: 41rem;
    background-image: url('club events.jpg');
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    background-origin: content-box;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, rgba(235, 12, 164, 0.842), rgba(19, 44, 206, 0.914));
    z-index: 1;
}

@media (max-width: 768px) {
    .content {
        height: 24rem;
    }
}

@media (max-width: 480px) {
    .content {
        height: 18rem;
    }
}
.login{
    font-weight: bold;
    display: flex;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width:86px;
    height: 30px;
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    background-color: #494747;
  width:100%;
}
.home-img {
    display: flex;
    z-index: 1;
    width: 740px; /* Adjust the size of the image */
    height: 403px;
    border-radius: 20px; /* Add border radius */
    margin-top: 45px;
    margin-left: 46px;
}
.home-text {
    display: grid;
    z-index: 1;
    width: 579px; /* Adjust the size of the image */
    height: 220px;
    margin-top: 33px;
    margin-left: 65px;
    color: white;
    font-size: 63px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}
.get-ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: #ff0385;
    color: white;
    border: none;
    border-radius: 35px;
    margin-left: 73px;
    font-size: 18px;
    font-style: normal;
    
}
.ticket-border{
    text-decoration: none;
}
.learn-more1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 35px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 35px;
    margin-left: 22rem;
    margin-top: -4rem;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    
}
.searchbox{
    display: flex;
    justify-content: space-evenly;
    padding:0px 310px;
    justify-content: space-evenly;
    justify-content: space-evenly;
    background-color: #20105b;
    border: none;
    border-radius: 23px;
    margin-left: 12rem;
    margin-right: 12rem;
    font-size: 18px;
    font-style: normal;
    margin-top: -87px;
    position: relative;
    z-index: 1;
}

.search-event input::placeholder {
    display: flex;
    
    color: grey;
    /* Added border with color white */
    font-size: 20px;
    z-index: 1;
}
.search-button{
    margin-top: 10px;
    margin-left: 10px;

    
    height: 20px;
}
.fa-solid{
    background-color: red;
   
}

.search-event{
    display: flex;
    justify-content: space-evenly;
    color: white;
    border: rgb(224, 216, 216);
    margin-left: -14rem;
    margin-top: 47px;
  z-index: 1;
}
.search-event input:focus {
    outline: none;
}
.search-event input {
    position: relative;
    z-index: 1;
    width: 200px; 
    padding: 18px; 
    font-size: 20px; 
    border: none;
    border-radius: 13px;
    background:transparent; 
    color: grey; 
text-decoration:underline grey;

}

.search-event1{
  
    color: white;
    border: rgb(224, 216, 216);
    margin-left: -128px;
    margin-top: 0.4rem;
}

.search-button1{
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 3px;
    margin-left: 148px;
    color: white;
    font-weight: 1px;
}
.space-between{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left:9px;
    margin-top:3px;
}
.search-button2{
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 1px;
    margin-left: -6px;
    color: white;
    font-weight: 1px;
}
.event-title {
    display: flex;
   
    margin-left: 10rem;
    margin-top: 5px;
    font-size: 20px; 
    color: black; 
    margin-top: 20px;
}

.event-title i {
    position: relative;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px; 
    font-size: 24px; 
    color: black;
}
.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
  margin: 3rem;

}
.place{
   margin-left: 3px;
   margin-top: 4px;
}
.place1{
    background: transparent;
    padding: 8px 11px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid rgba(85, 107, 87, 0.748);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: none;

}
.place1 option { 
color: rgb(78, 64, 78);
font-weight: bold;
text-align: center;
text-decoration: none;
outline: none;  

}

.date{
   margin-top: 3px;
   margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.date2{
    background: transparent;
    padding: 3px 11px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: none;
}
.date1{
    background: transparent;
    padding: 9px 12px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid rgba(85, 107, 87, 0.748);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: none;
}
.upcoming-event{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 45rem 40px;
 
    color: white;
    border: none;
}
.upcoming-dates{
    color: black;
    padding: 0px;
    margin-top: -76rem;
    margin-left: 1rem;
    font-size: 35px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}
.weekdays {
    position: relative;
    margin-top: -81rem;
    margin-left: -60rem;
    font-size: 37px; 
}
.weekdays1 {
    padding: 9px;
    width: 148px;
    color: #302d2d;
    border: 1.6px solid rgba(152, 154, 152, 0.748);
    border-radius: 30px;
    font-size: 16px;
    margin-left: 79rem;
    margin-top: 5rem;
    background: transparent;
    
}
.weekdays1:hover {
    background: linear-gradient(45deg, #03fffb, #494747e9);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
   border: 1.6px solid grey;
}
.weekdays1 option {
    color: rgb(67, 64, 67);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.event-type{
    position: relative;
    margin-top: -81rem;
    margin-right: 20px;
    font-size: 37px
}
.event-type1{ 
    padding: 9px;
    width: 148px;
    color: #302d2d;
    background: transparent;
    border: 1.6px solid rgba(152, 154, 152, 0.748);
    border-radius: 30px;
    font-size: 16px; 
    margin-left: 2rem;
}
.event-type1 option {
    color: rgb(67, 64, 67);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.event-type1:hover {
    background: linear-gradient(45deg, #03fffb, #494747e9);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
   border: 1.6px solid grey;
}
.any-category{
    position: relative;
    margin-top: -81rem;
    margin-right: 20px;
    font-size: 37px
}
.any-category1{
    padding: 9px;
    width: 148px;
    color: #302d2d;
    background: transparent;
    border: 1.6px solid rgba(152, 154, 152, 0.748);
    border-radius: 30px;
    font-size: 16px; 
    margin-left: 2rem;
}
.any-category1 option {
    color: rgb(67, 64, 67);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.any-category1:hover {
    background: linear-gradient(45deg, #03fffb, #494747e9);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
   border: 1.6px solid grey;
}
.upcoming-images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -88rem;
    height: 24rem;
 width: 87rem;
 margin-left: 4rem;
}
.upcoming-images1{
    background-color: rgb(65, 240, 12);
    margin-top: 12rem;
    margin-left: 2rem;
    padding: 0px;
    outline: none;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 19rem;
    height: 12rem;
    transition: transform 0.3s ease-in-out;
}

.upcoming-images1:hover {
    transform: scale(1.5);
}

.upcoming-images2{
    margin-top: 12rem;
    margin-left: -2rem;
    padding: 0px;
    outline: none;
    width: 19rem;
    height: 12rem;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.upcoming-images2:hover {
    transform: scale(1.5);
}

.upcoming-images3{
    margin-top: 12rem;
    margin-left: -2rem;
    padding: 0px;
    width: 19rem;
    height: 12rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid white;
    transition: transform 0.3s ease-in-out;
}

.upcoming-images3:hover {
    transform: scale(1.5);
}
.new-event{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-left: 4rem;
    height: 12rem;
 width: 87rem;
}
.newevent1{
    padding: 0px;
    outline: none;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 19rem;
    height: 12rem;
    margin-left: 2rem;
    margin-top: 0rem;
    transition: transform 0.3s ease-in-out;
}

.newevent1:hover {
    transform: scale(1.5);
}

.newevent2{
    padding: 0px;
    outline: none;
    width: 19rem;
    height: 12rem;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -2rem;
    margin-top: 0rem;
    transition: transform 0.3s ease-in-out;
}

.newevent2:hover {
    transform: scale(1.5);
}

.newevent3{
    padding: 0px;
    width: 19rem;
    height: 12rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid white; 
    margin-left: -2rem;  
    margin-top: 0rem;
    transition: transform 0.3s ease-in-out;
}

.newevent3:hover {
    transform: scale(1.5);
}
.text-description1{
 
  height: 6rem;
  width: 18.99rem;
  display: block;
}
.text-description2{

  height: 6rem;
  width: 33rem;
  display: block;
  margin-left: 25rem;
  margin-top: -104px;
 
}
.text-description3{
 
  height: 6rem;
  width: 33rem;
  display: block;
  margin-left: 50rem;
  margin-top: -104px;
 
}
.paragraph{
    height: 122px;
    width: 232px;
    padding: 1px;
    margin-top: -89px;
    margin-left: 18rem;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.paragraph:hover {
    transform: scale(1.08);
}
.feb{
    color: rgb(8, 146, 245);
    height: 27px;
    width: 47px;
    padding: 2px;
    margin-top: 8px;
    margin-left: 14rem;
    font-size: 17px;
    font-weight: bold;
    
}
.febdate{
    color: black;
    height: 69px;
    width: 20px;
    padding: 0px;
    margin-top: -11px;
    margin-left: 228px;
    font-size: 27px;
    font-weight: bold;
}
.para-description{

    height: 122px;
    width: 232px;
    padding: 1px;
    margin-top: 11px;
    margin-left: 0rem;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #706c6c;
}
.load-more {
    background: transparent;
    padding: 14px 35px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 42rem;
    border:1.8px solid rgb(6, 62, 233);
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
}
.load-more1{
text-decoration: none;
color: rgb(6, 62, 233);
font-size: 18px;
}
.load-more:hover {
    background: linear-gradient(160deg, #03fffb, #494747e9);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    border:1.8px solid rgb(6, 62, 233);
}
.create-event-image{
    display: flex;
    flex-direction: row;
    background-color: rgba(203, 145, 219, 0.442);
    margin-top: 3rem;
    height: 16rem;
    width: 100%;
    margin-right: 0rem;
}
.create-event-image1{
    
    height: 20rem;
    width: 37rem;
    margin-top: -64px;
    margin-left: 6.5rem;
}
.create-your-event-paragraph{
    
    width: 808px;
  margin-right: 0rem;
  margin-right: -2rem;
}
.create-your-event-paragraph1{
   
    font-size: 35px;
    margin-top: 2rem;
    margin-left: 15rem;
    margin-right: 13rem;
    text-decoration: underline;
    font-weight: bold;
}
.create-your-event-paragraph2{
   
    color: rgb(87, 84, 86);
    margin-top: 22px;
    margin-right: 13rem;
    margin-left: 15rem;
    font-size: 20px;
}
.create-your-event-button {
 background: transparent;
    margin-right: 15rem;
    margin-left: 15rem;
    margin-top: 1.5rem;
    border: 2px solid white;
    border: none;
    border-radius: 35px;
    font-size: 10px;
    padding: 19px 0px;

}
.create-your-event-button1{
    padding: 19px 87px;
    background-color: rgba(231, 29, 116, 0.904);
    font-size: 20px;
    text-decoration: none;
    border-radius: 35px;
    color: white;
}
.past-events{
    height: 10rem;
}
.past-events-button{
    background: transparent;
    padding: 19px 0px;
    
    text-decoration: none;
    border-radius: 35px;
    margin-left: 678px;
    margin-top: 4.5rem;
    border: none;
    
}
.past-events-button1{
    padding: 15px 29px;
   background: transparent;
    font-size: 20px;
    text-decoration: none;
    border-radius: 35px;
    color: rgb(6, 62, 233);
    font-size: 17px;
    border:1.8px solid rgb(6, 62, 233);
}
.past-events-text{
    height: 48rem;
    padding: 20px 20px;
    margin-top: -27px;
}
.past-events-text1{
    padding: 2px 20px;
    margin-left: 37rem;
    font-size: 20px;
    color: #706c6c;
}
.past-events-images{
  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: -7rem;
    height: 24rem;
    width: 87rem;
    margin-left: 2.5rem;
}
.past-events-images1{
    padding: 0px;
    outline: none;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 19rem;
    height: 12rem;
    margin-left: 2rem;
    margin-top: 0rem;
    transition: transform 0.3s ease-in-out;
}
.past-events-images1:hover {
    transform: scale(1.5);
}
.past-events-images2{
    padding: 0px;
    outline: none;
    width: 19rem;
    height: 12rem;
    border: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -2rem;
    margin-top: 0rem;
    transition: transform 0.3s ease-in-out;
}
.past-events-images2:hover {
    transform: scale(1.5);
}
.past-events-images3{
    padding: 0px;
    width: 19rem;
    height: 12rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid white; 
    margin-left: -2rem;  
    margin-top: 0rem;
    transition: transform 0.3s ease-in-out;
}
.past-events-images3:hover {
    transform: scale(1.5);
}
.text-description-past-1{
    height: 6rem;
    width: 18.99rem;
    margin-top: 13rem;
    margin-left: -430px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.text-description-past-1:hover {
    transform: scale(1.08);
}
.past-events-text2{
    
    padding: 11px 20px;
    margin-top: -88px;
    margin-left: 39px;
    margin-right: -42px;
    font-weight: bold;
    font-size: 14px;
    color: #706c6c;
}
.past-month1{
    color: rgb(8, 146, 245);
    height: 27px;
    width: 47px;
    padding: 0px; 
    font-size: 17px;
    font-weight: bold;
}
.past-month2{
    color: rgb(8, 146, 245);
    height: 27px;
    width: 47px;
    padding: 0px; 
    font-size: 17px;
    font-weight: bold;
}
.past-month-date1{
    color: black;
    height: 69px;
    width: 20px;
    padding: 0px;
    font-size: 27px;
    font-weight: bold;
}
.past-month-date2{
    color: black;
    height: 69px;
    width: 20px;
    padding: 0px;
    font-size: 27px;
    font-weight: bold;
}
.paragraph-past-events{
    height: 122px;
    width: 259px;
    padding: 1px;
    margin-top: -98px;
    margin-left: 58px;
    font-size: 19px;
    font-weight: bold;

} 
.load-more2 {
    background: transparent;
    padding: 14px 35px;
    margin-bottom: 48px;
    margin-left: 42rem;
    border:1.8px solid rgb(6, 62, 233);
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
}
.load-more1{
text-decoration: none;
color: rgb(6, 62, 233);
font-size: 18px;
}
.load-more2:hover {
    background: linear-gradient(160deg, #03fffb, #494747e9);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    border:1.8px solid rgb(6, 62, 233);
}
.join-brands{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  height: 10rem;
 
}
.join-brands1{
    margin-top: 20px;
    font-size: 43px;
    color: #25194c;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.join-brands2{
    margin-top: 37px;
    font-size: 20px;
    color: #19132d;
}
.brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 47px;
    row-gap: 47px;
}
.brands-image {
    position: relative;
    left: -7rem;
    width: 200px; 
    height: auto; 
}
.brands-image-new{
    position: relative;
    left: -3rem;
    width: 200px; 
    height: auto; 
    margin-top: -139px;
}
.brands-image-grab{
    position: relative;
    width: 150px; /* Reduced the width */
    height: auto; 
    margin-top: -160px;
}
.footer-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px 10px;
    background-color: #492fb0;
  color: white;
  height:20rem;
}
.footer-text0{
    position: relative;
    margin-top: 101px;
    left: 0rem;
   
}
.footer-text0 a{
    margin-top: 10px;
    width: 344px;
    height: 271px;
    display: block;
    text-decoration: none;
    text-align: justify;
    color: rgb(153, 148, 148);
}
.footer-text0 p{
    font-size: 25px;
    text-decoration: none;
    color:#1b1d1d;
}
.footer-text1{
    margin-left: 0rem;
    margin-top: -3.3rem;
}
.footer-text1 a{
    margin-top: 12.5px;
    display:block;
    color: rgb(153, 148, 148);
    text-decoration: none;
}
.footer-text1 p{
    font-size: 25px;
    color:#1b1d1d
   
}
.footer-text2{
    margin-left: 0rem;
}
.footer-text2 a{
    margin-top: 10px;
    display:block;
    color: rgb(153, 148, 148);
    text-decoration: none;
}
.footer-text2 p{
    font-size: 25px;
    color:#1b1d1d
}
.footer-text3{
margin-top:-2.7rem;
width:11rem;
height:10remm;
}
.footer-text3 p{
    font-size: 25px;
    text-decoration: none;
    color:#1b1d1d;
    
}
.footer-text3 a {
    position: relative;
    top: 9px;
    text-decoration: none;
color: rgb(153, 148, 148);
text-align: justify;
}
.footer-email{
    position: relative;
    top: 50px;
    left: 10px;
   font-size: 15px;
   display: block;
    width: 20rem;
    margin-left: -45px;
}
.footer-email1 {
    position: relative;
    left: 1px;
    border: none;
    border-radius: 35px;
    padding: 14px 15px;
    margin-left: 2px;
    width: 20rem;
    font-size: 13px;
}
.footer-email-button{
  position: relative;
  top: -38.9px;
   left: 234px;
   padding: 8px 20px;
    font-size: 17px; 
    border: none; 
    color: rgb(11, 8, 8);
    border-radius: 35px;
    cursor: pointer;
}

button{
  background-color: red; 
  padding: 0px 29px; 
}

button:active {
    background-color: rgb(93, 92, 95); 
}


